body
  padding: 50px
  background-color: #222222
  color: #F5F5F5
  text-align: center
a
  color: #00B7FF

h1
  margin: 20vh
  font: 88px "Lucida Grande", Helvetica, Arial, sans-serif

form#ask
  input
    height: 70px
    font-size: 30px
    padding: 30px

  button
    font-size: 20px
    height: 70px
    width: 120px